/.idea/
/venv/
/run/
/out/
/data/

**.pyc
**.so
**.c
*/__pycache__/
src/strategies/context_transformer/utils/build/
src/strategies/context_transformer/utils/nms/*.c
src/strategies/context_transformer/utils/nms/*.cpp
src/strategies/context_transformer/utils/pycocotools/*.c
src/strategies/context_transformer/utils/pycocotools/*.cpp

src/models/deformable_detr/ops/build/
src/models/deformable_detr/ops/dist/
**.egg-info


/src/strategies/icarl/data/
